:root {
    --side-bar-bg-color: rgb(247, 246, 243);
    --control-text-color: #777;

    /* dark color for background*/
    /* default color */
    --bg-color1: rgb(40, 44, 52);
    /* for most panel, context, header, etc */
    --bg-color2: rgb(33, 37, 43);
    /* for toc and table edit panel */
    --bg-color3: rgba(16, 17, 20, 0.5);
    /* for tips */
    --bg-color4: black;
    /* for blockquote, codeblock, input, etc */
    --bg-color5: rgb(29, 31, 35);
    /* light color for text and icon*/
    /* default color */
    --text-color1: rgb(170, 178, 180);
    /* for text on panel */
    --text-color2: rgb(220, 220, 220);
    /* for checkbox and radio */
    --text-color3: hsl(192, 6%, 40%);
    /* for tips */
    --text-color4: white;
    /* for focus mode */
    --text-color5: rgba(170, 178, 180, 0.5);
    /* link color */
    --link-color: rgb(197, 202, 210);
    
    /* codeblock color */
    --code-red-color: rgb(221, 110, 115);
    --code-yellow-color: rgb(218, 192, 123);
    --code-cyan-color: rgb(86, 182, 194);
    --code-blue-color: rgb(94, 174, 237);
    --code-purple-color: rgb(195, 115, 215);
    --code-orange-color: rgb(221, 153, 103);
    --code-grey-color: rgb(127, 132, 142);
    --code-green-color: rgb(152, 195, 123);
    --code-select-bg-color: rgb(64, 72, 89);
    --code-cursor-color: rgb(82, 139, 255);
}

@include-when-export url(https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'),url('./github/400.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans Italic'),url('./github/400i.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'),url('./github/700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans Bold Italic'),url('./github/700i.woff') format('woff');
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}



/*  ┌─────────────────────────────────────────────────────────────────────────┐
    │                                                                         │░
    │                                                                         │░
    │                                 NOTION                                  │░
    │                                                                         │░
    │                                                                         │░
    └─────────────────────────────────────────────────────────────────────────┘░
     ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

    #write {
        max-width: 708px;
        margin: 0 auto;
        padding: 30px;
        padding-bottom: 100px;
    }

    #write > ul:first-child,
    #write > ol:first-child{
        margin-top: 30px;
    }

    /* First image on the page */
    #write p:first-child img:nth-of-type(1) {
        height: 30vh;
        width: 101vw;
        max-width: 101vw;
        object-fit: cover; 
        object-position: top center;
        margin-top: -54px;
        margin-left: calc((-100vw / 2) + 320px);
        margin-bottom: 3.2em;
    }

    .sidebar-tab.active {
        opacity: 0;
    }

    #typora-sidebar  {
        border-right: 0px solid rgba(0,0,0,.07)
    }

/*  ┌─────────────────────────────────────────────────────────────────────────┐
    │                                   LOGO                                  │
    └─────────────────────────────────────────────────────────────────────────┘ */
    .sidebar-tabs {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='261px' height='40px' viewBox='0 0 261 40' %3E%3Cg id='Typora-Header' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M5.67816092,14 L12.6666667,25.3333333 L0,25.3333333 L0,14 L5.67816092,14 Z M20,14 L20,25.3333333 L14.3218391,25.3333333 L7.33333333,14 L20,14 Z' id='Logo' fill='%2353A5E3'%3E%3C/path%3E%3Cpath d='M37.7197266,25 L37.7197266,23.7558594 L33.4199219,23.7558594 L33.4199219,15.4501953 L32.0527344,15.4501953 L32.0527344,25 L37.7197266,25 Z M41.6982422,25.109375 C42.6735026,25.109375 43.4824219,24.8097331 44.125,24.2104492 C44.7675781,23.6111654 45.0888672,22.8580729 45.0888672,21.9511719 C45.0888672,21.0169271 44.7721354,20.2410482 44.1386719,19.6235352 C43.5052083,19.0060221 42.7099609,18.6972656 41.7529297,18.6972656 C40.7867839,18.6972656 39.9835612,19.0037435 39.3432617,19.6166992 C38.7029622,20.2296549 38.3828125,20.9964193 38.3828125,21.9169922 C38.3828125,22.8284505 38.6995443,23.5883789 39.3330078,24.1967773 C39.9664714,24.8051758 40.7548828,25.109375 41.6982422,25.109375 Z M41.7392578,23.9472656 C41.1240234,23.9472656 40.6204427,23.7569987 40.2285156,23.3764648 C39.8365885,22.995931 39.640625,22.5048828 39.640625,21.9033203 C39.640625,21.2972005 39.8320312,20.7981771 40.2148438,20.40625 C40.5976562,20.0143229 41.0875651,19.8183594 41.6845703,19.8183594 C42.2998047,19.8183594 42.8102214,20.0143229 43.2158203,20.40625 C43.6214193,20.7981771 43.8242188,21.2926432 43.8242188,21.8896484 C43.8242188,22.4912109 43.6293945,22.9845378 43.2397461,23.3696289 C42.8500977,23.7547201 42.3499349,23.9472656 41.7392578,23.9472656 Z M47.7138672,25 L47.7138672,20.5087891 C48.1240234,19.9208984 48.6230469,19.6269531 49.2109375,19.6269531 C49.671224,19.6269531 49.999349,19.7648112 50.1953125,20.0405273 C50.391276,20.3162435 50.4892578,20.7753906 50.4892578,21.4179688 L50.4892578,21.4179688 L50.4892578,25 L51.7333984,25 L51.7333984,21.4042969 C51.7333984,20.6386719 51.6456706,20.0792643 51.4702148,19.7260742 C51.2947591,19.3728841 51.0384115,19.0948893 50.7011719,18.8920898 C50.3639323,18.6892904 49.999349,18.5878906 49.6074219,18.5878906 C48.9010417,18.5878906 48.2698568,18.8955078 47.7138672,19.5107422 L47.7138672,19.5107422 L47.7138672,18.7109375 L46.4423828,18.7109375 L46.4423828,25 L47.7138672,25 Z M58.9179688,25 L58.9179688,15.4501953 L57.6669922,15.4501953 L57.6669922,18.8408203 C57.1748047,18.6630859 56.7190755,18.5742188 56.2998047,18.5742188 C55.3974609,18.5742188 54.6557617,18.8727214 54.074707,19.4697266 C53.4936523,20.0667318 53.203125,20.8277995 53.203125,21.7529297 C53.203125,22.741862 53.4799805,23.5302734 54.0336914,24.1181641 C54.5874023,24.7060547 55.3291016,25 56.2587891,25 L56.2587891,25 L58.9179688,25 Z M57.6669922,23.9335938 L56.703125,23.9335938 C56.1471354,23.9335938 55.7620443,23.8971354 55.5478516,23.8242188 C55.3336589,23.7513021 55.1308594,23.610026 54.9394531,23.4003906 C54.6204427,23.0494792 54.4609375,22.5504557 54.4609375,21.9033203 C54.4609375,21.2151693 54.6443685,20.6682943 55.0112305,20.2626953 C55.3780924,19.8570964 55.8714193,19.6542969 56.4912109,19.6542969 C56.8876953,19.6542969 57.2796224,19.7522786 57.6669922,19.9482422 L57.6669922,19.9482422 L57.6669922,23.9335938 Z M63.5595703,25.109375 C64.5348307,25.109375 65.34375,24.8097331 65.9863281,24.2104492 C66.6289062,23.6111654 66.9501953,22.8580729 66.9501953,21.9511719 C66.9501953,21.0169271 66.6334635,20.2410482 66,19.6235352 C65.3665365,19.0060221 64.5712891,18.6972656 63.6142578,18.6972656 C62.648112,18.6972656 61.8448893,19.0037435 61.2045898,19.6166992 C60.5642904,20.2296549 60.2441406,20.9964193 60.2441406,21.9169922 C60.2441406,22.8284505 60.5608724,23.5883789 61.1943359,24.1967773 C61.8277995,24.8051758 62.6162109,25.109375 63.5595703,25.109375 Z M63.6005859,23.9472656 C62.9853516,23.9472656 62.4817708,23.7569987 62.0898438,23.3764648 C61.6979167,22.995931 61.5019531,22.5048828 61.5019531,21.9033203 C61.5019531,21.2972005 61.6933594,20.7981771 62.0761719,20.40625 C62.4589844,20.0143229 62.9488932,19.8183594 63.5458984,19.8183594 C64.1611328,19.8183594 64.6715495,20.0143229 65.0771484,20.40625 C65.4827474,20.7981771 65.6855469,21.2926432 65.6855469,21.8896484 C65.6855469,22.4912109 65.4907227,22.9845378 65.1010742,23.3696289 C64.7114258,23.7547201 64.211263,23.9472656 63.6005859,23.9472656 Z M69.5751953,25 L69.5751953,20.5087891 C69.9853516,19.9208984 70.484375,19.6269531 71.0722656,19.6269531 C71.5325521,19.6269531 71.8606771,19.7648112 72.0566406,20.0405273 C72.2526042,20.3162435 72.3505859,20.7753906 72.3505859,21.4179688 L72.3505859,21.4179688 L72.3505859,25 L73.5947266,25 L73.5947266,21.4042969 C73.5947266,20.6386719 73.5069987,20.0792643 73.331543,19.7260742 C73.1560872,19.3728841 72.8997396,19.0948893 72.5625,18.8920898 C72.2252604,18.6892904 71.8606771,18.5878906 71.46875,18.5878906 C70.7623698,18.5878906 70.1311849,18.8955078 69.5751953,19.5107422 L69.5751953,19.5107422 L69.5751953,18.7109375 L68.3037109,18.7109375 L68.3037109,25 L69.5751953,25 Z M80.6904297,25 L80.6904297,20.8574219 L81.7021484,20.8574219 C82.6044922,20.8574219 83.2972005,20.7605794 83.7802734,20.5668945 C84.2633464,20.3732096 84.6438802,20.0621745 84.921875,19.6337891 C85.1998698,19.2054036 85.3388672,18.7132161 85.3388672,18.1572266 C85.3388672,17.3277995 85.0677083,16.6669922 84.5253906,16.1748047 C83.9830729,15.6826172 83.2561849,15.4365234 82.3447266,15.4365234 L82.3447266,15.4365234 L79.3164062,15.4365234 L79.3164062,25 L80.6904297,25 Z M82.1875,19.640625 L80.6904297,19.640625 L80.6904297,16.6533203 L82.1054688,16.6533203 C83.3177083,16.6533203 83.9238281,17.1432292 83.9238281,18.1230469 C83.9238281,18.6106771 83.7734375,18.9855143 83.4726562,19.2475586 C83.171875,19.5096029 82.7434896,19.640625 82.1875,19.640625 L82.1875,19.640625 Z M90.0146484,25.109375 C90.2014974,25.109375 90.3803711,25.0763346 90.5512695,25.0102539 C90.722168,24.9441732 90.9488932,24.819987 91.2314453,24.6376953 L91.2314453,24.6376953 L91.2314453,23.8789062 C90.9124349,24.1022135 90.6777344,24.2138672 90.5273438,24.2138672 C90.3815104,24.2138672 90.3085938,24.1067708 90.3085938,23.8925781 L90.3085938,23.8925781 L90.3085938,21.2197266 C90.3085938,20.6910807 90.2937826,20.332194 90.2641602,20.1430664 C90.2345378,19.9539388 90.1650391,19.7648112 90.0556641,19.5756836 C89.9462891,19.386556 89.8232422,19.235026 89.6865234,19.1210938 C89.2763672,18.765625 88.7317708,18.5878906 88.0527344,18.5878906 C87.1458333,18.5878906 86.4508464,18.8727214 85.9677734,19.4423828 L85.9677734,19.4423828 L85.9677734,20.8027344 C86.6103516,20.1009115 87.2711589,19.75 87.9501953,19.75 C88.7067057,19.75 89.0849609,20.1282552 89.0849609,20.8847656 L89.0849609,20.8847656 L89.0849609,21.2197266 L87.4921875,21.7666016 C86.968099,21.9488932 86.5636393,22.1961263 86.2788086,22.5083008 C85.9939779,22.8204753 85.8515625,23.1748047 85.8515625,23.5712891 C85.8515625,24.0087891 85.9973958,24.3722331 86.2890625,24.6616211 C86.5807292,24.9510091 86.9453125,25.0957031 87.3828125,25.0957031 C87.9798177,25.0957031 88.5426432,24.890625 89.0712891,24.4804688 C89.1669922,24.8997396 89.4814453,25.109375 90.0146484,25.109375 Z M87.984375,24.2412109 C87.7200521,24.2412109 87.5047201,24.1591797 87.3383789,23.9951172 C87.1720378,23.8310547 87.0888672,23.6191406 87.0888672,23.359375 C87.0888672,23.1041667 87.1765951,22.8911133 87.3520508,22.7202148 C87.5275065,22.5493164 87.8271484,22.3795573 88.2509766,22.2109375 L88.2509766,22.2109375 L89.0849609,21.8896484 L89.0849609,23.7558594 C88.7477214,24.0794271 88.3808594,24.2412109 87.984375,24.2412109 Z M93.6650391,25 L93.6650391,21.7119141 C93.6650391,21.1878255 93.8120117,20.734375 94.105957,20.3515625 C94.3999023,19.96875 94.7473958,19.7773438 95.1484375,19.7773438 C95.5175781,19.7773438 95.9186198,19.9824219 96.3515625,20.3925781 L96.3515625,20.3925781 L97.0078125,19.2988281 C96.4973958,18.8248698 96.007487,18.5878906 95.5380859,18.5878906 C94.9365234,18.5878906 94.3349609,19.0732422 93.7333984,20.0439453 L93.7333984,20.0439453 L93.6650391,20.1533203 L93.6650391,18.7109375 L92.4140625,18.7109375 L92.4140625,25 L93.6650391,25 Z M99.1201172,25 L99.1201172,15.4501953 L97.8759766,15.4501953 L97.8759766,25 L99.1201172,25 Z M103.994141,25 L100.760742,21.7939453 L103.447266,18.7109375 L101.963867,18.7109375 L99.1748047,21.7939453 L102.326172,25 L103.994141,25 Z M107.535156,25.109375 C108.510417,25.109375 109.319336,24.8097331 109.961914,24.2104492 C110.604492,23.6111654 110.925781,22.8580729 110.925781,21.9511719 C110.925781,21.0169271 110.609049,20.2410482 109.975586,19.6235352 C109.342122,19.0060221 108.546875,18.6972656 107.589844,18.6972656 C106.623698,18.6972656 105.820475,19.0037435 105.180176,19.6166992 C104.539876,20.2296549 104.219727,20.9964193 104.219727,21.9169922 C104.219727,22.8284505 104.536458,23.5883789 105.169922,24.1967773 C105.803385,24.8051758 106.591797,25.109375 107.535156,25.109375 Z M107.576172,23.9472656 C106.960938,23.9472656 106.457357,23.7569987 106.06543,23.3764648 C105.673503,22.995931 105.477539,22.5048828 105.477539,21.9033203 C105.477539,21.2972005 105.668945,20.7981771 106.051758,20.40625 C106.43457,20.0143229 106.924479,19.8183594 107.521484,19.8183594 C108.136719,19.8183594 108.647135,20.0143229 109.052734,20.40625 C109.458333,20.7981771 109.661133,21.2926432 109.661133,21.8896484 C109.661133,22.4912109 109.466309,22.9845378 109.07666,23.3696289 C108.687012,23.7547201 108.186849,23.9472656 107.576172,23.9472656 Z M114.391602,25.109375 C114.728841,25.109375 115.06722,25.0296224 115.406738,24.8701172 C115.746257,24.710612 116.048177,24.4873047 116.3125,24.2001953 L116.3125,24.2001953 L116.3125,25 L117.556641,25 L117.556641,18.7109375 L116.3125,18.7109375 L116.3125,23.2089844 C115.897786,23.7877604 115.394206,24.0771484 114.801758,24.0771484 C114.327799,24.0771484 113.996257,23.9461263 113.807129,23.684082 C113.618001,23.4220378 113.523438,22.960612 113.523438,22.2998047 L113.523438,22.2998047 L113.523438,18.7109375 L112.279297,18.7109375 L112.279297,22.3134766 C112.279297,23.101888 112.364746,23.6658529 112.535645,24.0053711 C112.706543,24.3448893 112.959473,24.6137695 113.294434,24.8120117 C113.629395,25.0102539 113.995117,25.109375 114.391602,25.109375 Z M120.639648,25 L120.639648,21.7119141 C120.639648,21.1878255 120.786621,20.734375 121.080566,20.3515625 C121.374512,19.96875 121.722005,19.7773438 122.123047,19.7773438 C122.492188,19.7773438 122.893229,19.9824219 123.326172,20.3925781 L123.326172,20.3925781 L123.982422,19.2988281 C123.472005,18.8248698 122.982096,18.5878906 122.512695,18.5878906 C121.911133,18.5878906 121.30957,19.0732422 120.708008,20.0439453 L120.708008,20.0439453 L120.639648,20.1533203 L120.639648,18.7109375 L119.388672,18.7109375 L119.388672,25 L120.639648,25 Z' id='LondonParkour' fill='%23757575' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 80px;
        background-size: 85%;
    }

/*  ┌─────────────────────────────────────────────────────────────────────────┐
    │                           BACKGROUND PATTERN                            │
    └─────────────────────────────────────────────────────────────────────────┘ */
    .sidebar-content {
        background-color: rgb(247, 246, 243);
        /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(306,420,458)'%3E%3Cstop offset='0' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23f5f5f5'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E"); */
        background-attachment: fixed;
        background-size: cover;
    }

    #file-library {
        padding-top: 20px;
    }


    /* remove folder icon */
    .fa-folder:before {
        content: "";
    }
    /* Space file icon */
    .fa-file-text-o:before {
        margin-right:5px;
    }




a {
    color: #4183C4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}
h1 tt,
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}
h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}
h2 {
   padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}
h3 {
    font-size: 1.5em;
    line-height: 1.43;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
   font-size: 1em;
    color: #777;
}
p,
blockquote,
ul,
ol,
dl,
table{
    margin: 0.8em 0;
}
li>ol,
li>ul {
    margin: 0 0;
}
hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

li p.first {
    display: inline-block;
}
ul,
ol {
    padding-left: 30px;
}
ul:first-child,
ol:first-child {
    margin-top: 0;
}
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}
blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}
blockquote blockquote {
    padding-right: 0;
}
table {
    padding: 0;
    word-break: initial;
}
table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}
/* 
.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}

code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
} */

/* andyp code  - codeblocks black  */

/* inline codeblock */
code {
    color: var(--text-color2);
    font-size: 0.9em;
    background-color: var(--bg-color5);
    border-radius: 6px;
    padding: 4px 8px 4px 8px;
    margin: 0px 6px 0px 6px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, .2); */
}

/* codeblock */
.md-fences,
.md-fences:active {
    background-color: var(--bg-color5);
    color: var(--text-color2);
    border-radius: 6px;
    padding: 8px 4px 8px 4px !important;
    margin-top: 15px;
    margin-bottom: 15px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, .2); */
}

.md-fences .code-tooltip {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    background-color: var(--bg-color3);
}

.md-fences.md-focus .code-tooltip {
    opacity: 1;
    visibility: visible;
}

.CodeMirror-lines {
    padding-left: 4px;
}

/* selected text and cursor */
.CodeMirror-selected,
.CodeMirror-selectedtext {
    background: var(--code-select-bg-color) !important;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 2px solid var(--code-cursor-color);
    z-index: 3;
}

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
    border-left: 3px solid var(--code-cursor-color);
}

/* highlight */
.cm-s-inner .cm-property {
    color: var(--code-blue-color) !important;
}

.cm-s-inner .cm-operator {
    color: var(--code-cyan-color) !important;
}

.cm-s-inner .cm-keyword {
    color: var(--code-purple-color) !important;
}

.cm-s-inner .cm-tag {
    color: var(--code-red-color) !important;
}

.cm-s-inner .cm-attribute {
    color: var(--code-orange-color) !important;
}

.cm-s-inner .cm-string {
    color: var(--code-green-color) !important;
}

.cm-s-inner .cm-comment,
.cm-s-inner.cm-comment {
    /*     color: var(--code-orange-color) !important; */
    color: var(--code-grey-color) !important;
    font-style: italic;
}

.cm-s-inner .cm-header,
.cm-s-inner .cm-def,
.cm-s-inner.cm-header,
.cm-s-inner.cm-def {
    /*     color: var(--code-red-color) !important; */
    color: var(--code-blue-color) !important;
}

.cm-s-inner .cm-meta,
.cm-s-inner .cm-qualifier {
    color: var(--code-red-color) !important;
}

.cm-s-inner .cm-builtin {
    /*     color: var(--code-blue-color) !important; */
    color: var(--code-cyan-color) !important;
}

.cm-s-inner .cm-bracket {
    color: var(--text-color1) !important;
}

.cm-s-inner .cm-number {
    color: var(--code-orange-color) !important;
}

.cm-s-inner .cm-variable {
    color: var(--text-color1) !important;
}

.cm-s-inner .cm-variable-2 {
    /*     color: var(--code-blue-color) !important; */
    color: var(--code-yellow-color) !important;
}

.cm-s-typora-default .cm-header,
.cm-s-typora-default .cm-property {
    color: var(--code-red-color) !important;
}

.cm-s-typora-default .cm-string {
    /*     color: var(--code-blue-color); */
    color: var(--code-purple-color);
}

.cm-s-typora-default .cm-atom {
    color: var(--code-grey-color);
    font-style: italic;
}

.cm-s-typora-default .cm-number {
    color: var(--code-orange-color);
    font-style: normal !important;
}

.cm-s-typora-default .cm-link {
    color: var(--code-blue-color);
}

.cm-s-typora-default .CodeMirror-activeline-background {
    background: var(--hover-bg-color1);
}

.cm-s-typora-default .cm-comment,
.cm-s-typora-default .cm-code {
    color: var(--code-purple-color);
}

.cm-s-typora-default .cm-tag {
    /*     color: var(--code-red-color); */
    color: var(--code-blue-color);
}

.cm-s-typora-default .cm-strong,
.cm-s-typora-default .cm-em,
.cm-s-typora-default .cm-del {
    /*     color: var(--code-green-color); */
    color: var(--code-orange-color)
}

.cm-s-typora-default .cm-block-start.cm-variable-2 {
    /*     color: var(--code-orange-color); */
    color: var(--code-red-color);
}

.cm-formatting-task .cm-formatting-task {
    color: var(--code-red-color);
}

/* math formula tag */
.cm-s-inner .cm-atom,
.cm-s-inner.cm-atom {
    color: var(--code-blue-color);
}

/* inline codeblock in source mode */
.cm-s-typora-default .cm-comment {
    color: var(--code-green-color);
}

/* horizontal divider when language is markdown */
.cm-s-inner .cm-hr {
    color: var(--text-color1);
}

/* variable type when language is c/cpp */
.cm-s-inner .cm-variable-3 {
    color: var(--code-purple-color);
}

/* unknown highlight keyword */
.cm-s-inner .cm-quote,
.cm-s-inner.cm-quote {
    color: #57ac57;
}

.cm-s-inner .cm-link {
    color: var(--code-blue-color);
}

.cm-s-inner .cm-negative {
    color: #d95050;
}

.cm-s-inner .cm-positive {
    color: #50e650;
}

.cm-s-inner .cm-string-2 {
    color: #f50;
}

.CodeMirror-gutters {
    border-right: none;
}
/* andyp - codeblocks black */

.md-task-list-item > input {
  margin-left: -1.3em;
}

@media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}

/* .md-fences {
	background-color: #f8f8f8;
} */
#write pre.md-meta-block {
	padding: 1rem;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #242424;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

.md-mathjax-midline {
    background: #fafafa;
}

#write>h3.md-focus:before{
	left: -1.5625rem;
	top: .375rem;
}
#write>h4.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h5.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
#write>h6.md-focus:before{
	left: -1.5625rem;
	top: .285714286rem;
}
.md-image>.md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: #a7a7a7;
    opacity: 1;
}

.md-toc { 
    margin-top:20px;
    padding-bottom:20px;
}

.sidebar-tabs {
    border-bottom: none;
}

/* andyp sidebar */
#typora-sidebar .file-list-item-file-name {
    font-family: 'Open Sans';
    font-weight: bold;
}

#typora-sidebar .file-list-item-summary,
#typora-sidebar .ty-search-item-line {
    font-family: 'Open Sans';
}

#typora-sidebar #outline-content .outline-h1>.outline-item {
    font-family: 'Open Sans';
}

#typora-sidebar .file-tree-node.file-library-file-node.active .file-node-background,
#typora-sidebar .file-list-item.file-library-file-node.active {
    border-left: 6px solid #53A5E3;
}

.file-library-node:not(.file-node-root):focus>.file-node-content {
    outline: none;
}

#typora-sidebar .file-list-item.file-library-file-node:hover {
    background: #f1f1f1;
}

#typora-sidebar .file-tree-node.file-library-file-node {
    padding: 0px 0px 0px 18px;
}

#typora-sidebar .file-tree-node.file-library-file-node.active .file-node-title {
    color: #53A5E3;
}

#typora-sidebar .file-tree-node {
    border: 0;
    padding: 0 0 0 20px;
    margin: 0;
}

/* andyp */

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header, .context-menu, .megamenu-content, footer{
    font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state{
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: #fafafa;
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #E6F0FE;
}

#md-notification .btn {
    border: 0;
}

.dropdown-menu .divider {
    border-color: #e5e5e5;
}

.ty-preferences .window-content {
    background-color: #fafafa;
}

.ty-preferences .nav-group-item.active {
    color: white;
    background: #999;
}